language: cpp
compiler: 
    - clang
notifications:
    email: false
before_install:
    - sudo add-apt-repository ppa:staticfloat/julia-deps -y
    - sudo add-apt-repository ppa:staticfloat/julianightlies -y
    - sudo apt-get update -qq -y
    - sudo apt-get upgrade -y
    - sudo apt-get install julia -y
script:
    - julia -e 'Pkg.init(); run(`ln -s $(pwd()) $(Pkg.dir())/`); Pkg.resolve()'
    - julia -e 'using ArgParse; @assert isdefined(:ArgParse); @assert typeof(ArgParse) === Module'
    - julia test/runtests.jl
branches:
    except:
        - release-0.1
